<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header id='title_header'>
  		<h1><%= title %></h1>
  	</header>
  	<nav>
  		<!-- navigation to go here -->
  	</nav>
  	<section>
  		<form method="post">
            Username:<br>
            <input type="text" id="username" name="username"><br>
            Password:<br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Submit">
  		</form>
  	</section>
  </body>
</html>
